<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<meta charset="UTF-8">
<title>ATV FORM</title>
</head>
<body>

	<div th:replace="~{menu :: menu}"></div>
	<div class="container">

		<h1>Detalhes do Evento</h1>

		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Evento</span>
							<p><strong>Id:</strong><span th:text="${evento.id}"></span></p>
							<p><strong>Nome:</strong><span th:text="${evento.nome}"></span></p>
							<p><strong>Local:</strong><span th:text="${evento.local}"></span></p>
							<p><strong>Data:</strong><span th:text="${evento.data}"></span></p>
							<p><strong>Horário:</strong><span th:text="${evento.horario}"></span></p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Adicionar Convidado</span>
							<form action="" method="post">
								<div>
									<label>Nome: </label> <input  type="text" name="nome">
								</div>
								<div>
									<label>RG: </label> <input  type="text" name="rg">
								</div>
								<div>
								<button type="submit" class="btn">Salvar</button>
								<button type="reset" class="btn">Limpar</button>
								</div>
							</form>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Convidados</span>
							<table>
								<thead>
									<tr>
										<th th:each="c.id">Id</th>
									</tr>
									<tr>
										<th th:each="c.nome">Nome</th>
									</tr>
									<tr>
										<th th:each="c.rg">Rg</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="{c : convidados}">
										<td th:each="${c.id}"></td>
										<td th:each="${c.nome}"></td>
										<td th:each="${c.rg}"></td>
									</tr>
								</tbody>
							</table>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
	
</body>
</html>