<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<meta charset="UTF-8">
<title>ATV FORM</title>
</head>
<body>

	<div th:replace="~{menu :: menu}"></div>
	<div class="container">
		<h1>Lista de Eventos</h1>

		<table class="highlight">
			<thead>
				<tr th:each="e: ${eventos}">
					<th th:text="${e.id}">Id</th>
					<th ><a th:href="@{/eventos/{id}(id=${e.id})}"><span th:text="${e.nome}">Nome</span></a></th>
					<th th:text="${e.local}">Local</th>
					<th th:text="${e.data}">Data</th>
					<th th:text="${e.horario}">Horário</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>
</body>
</html>